@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #333;
}
.sanpham {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
button, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
}
